<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title><% content_for :title, "Voluntal::참여한" %></title>
	<!-- YJ CSS file-->
		<link rel="stylesheet" href="stylesheets/voluntal.css">
	<!-- Bootstrap core JavaScript start-->
		<!--<link href="assets/stylesheet/bootstrap.css" type="text/css" rel="stylesheet">-->
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<!-- Bootstrap core JavaScript end-->
	
	<style type="text/css">

		
	</style>
	
</head>
<body style="background-color:#ffb380">
<!--Vouluntal 네비게이션 바 start -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid" style="">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a href="/"><div class="logoimage"></div></a>
			</div>
			<div class="navbar-collapse collapse" id="myNavbar" style="">
				<ul class="nav navbar-nav navbar-left">
				    	<!--<li class="active"><a href="#section1" class="scroll"><strong>Voluntal이란?</strong></a></li>
					<li><a href="#section2" class="scroll"><strong>Volunteer</strong></a></li>
					<li><a href="#section3" class="scroll"><strong>Talent</strong></a></li>
					<li><a href="#section4" class="scroll"><strong>Voluntal만들기</strong></a></li>-->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if session[:user_id].nil? %>
						<li><a href="/users/signup"><span class="glyphicon glyphicon-user"></span> <strong>Sign Up </strong></a></li>
						<li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> <strong>Login </strong></a></li>
					<% else %>
						<li><a href="/users/mypage"><span class="glyphicon glyphicon-user"></span> <strong>My Page</strong></a></li>
						<li><a href="/users/logout_complete"><span class="glyphicon glyphicon-log-out"></span> <strong>Log Out</strong></a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
<!--Vouluntal 네비게이션 바 end -->

<br><br><br><br>

<!-- 개인정보 보여주기 start-->
	<div class="container" >
		<div class="row" >
			<div class="col-md-3">
				<div class="sidebar">
					<div class ="area-profile">
					<p><img src="<%= @user_info.profile_pic_url(:thumb) %>" width="100px" class="img-circle"></p>
				</div>
				<div class="list-side-menu">
					<h2><%= @user_info.nickname %></h2>
				</div><br>

				<a href="/users/mypage" >
					<div class="list-side-menu" >
						<h4>프로필</h3>
					</div>
				</a>
				<a href="/users/hosting">
					<div class="list-side-menu">
						<h4>Host Voluntal</h3>
					</div>
				</a>
				<a href="/users/joining">
					<div class="list-side-menu" style="background-color:#ffb380">
						<h4>Guest Voluntal</h3>
					</div>
				</a>
			
			</div>
			</div>

			
			<div class="col-md-9 sidebar2">
				<div class="row">
					<div class="col-md-12">
					<h1 style ="color : #FF7648"><%= @user_info.nickname %>  의 Guest Voluntal </h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
					<h4>참여한 Voluntal 목록</h4>
					</div>
				</div>
				<div class="row">
					<% if @posts_vol.nil? %>
						<p>참여한 Voluntal이 없습니다! 지금 참여해 주세요!</p>
					<% else %>
						<% @posts_vol.reverse.each do |post| %>
							<a href="/voluntal/show/<%= post.id %>"><%= post.title %></a>	<br>
						<% end %>
					<% end %>
				</div>
				<div class="row">
				
				</div>
				<div class="row">
				
				</div>
				
			</div>
		</div>
	</div>
<!-- 개인정보 보여주기 end-->	

<!-- Voulutal 푸터 start -->
	<footer class="footer" style="background-color:#FFAB80">
		<div class="container">
			<br>
			<div class="col-md-9">
				<p class="text-muted">&copy; Voluntal and WB.YJ  All rights reserved.</p>
			</div>
			<div class="col-md-3">
				<p class="text-muted">Join Us on      
					<a href="http://facebook.com/woongbini">   WB's  <i class="icon-large icon-facebook"></i></a> / 
					<a href="https://goo.gl/BFzCQY">  YJ's  <i class="icon-large icon-facebook"></i> </a>
				</p>
			</div>
		</div>
	</footer>
<!-- Voulutal 푸터 end -->

</body>