<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<link rel="shortcut icon" href="/favicon.ico">
	<title><%= controller.page_title %>::Main</title>
	<!-- YJ CSS file-->
		<link rel="stylesheet" href="stylesheets/voluntal.css">
		<link type="text/css" rel="stylesheet" href="stylesheets/colorbox.css"/>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<!--WB CSS file -->
		<link type="text/css" rel="stylesheet" href="stylesheets/style_lightbox.css"/>
		<script type="text/javascript" src="javascripts/tinybox_lightbox.js"></script>
	<!-- Bootstrap core JavaScript start-->
		<link href="stylesheet/bootstrap.css" type="text/css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<!-- Bootstrap core JavaScript end-->
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<!--Vouluntal 네비게이션 바 start -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid" style="">
			<div class="navbar-header">
				<!--<a href="/"><img src="http://i.imgur.com/XqSDoFN.png" width="190px" height="50px" alt="logo" class="img-rounded"></a>-->
				<a href="/"><div class=logoimage> </div></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"data-target="#myNavbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="myNavbar" style="">
				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a href="#section1" class="scroll"><strong>Voluntal이란?</strong></a></li>
					<li><a href="#section2" class="scroll"><strong>Volunteer</strong></a></li>
					<li><a href="#section3" class="scroll"><strong>Talent</strong></a></li>
					<li><a href="#section4" class="scroll"><strong>Voluntal만들기</strong></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if session[:user_id].nil? %>
						<li><a href="#signup" id="testclick1"><span class="glyphicon glyphicon-user"></span> <strong>Sign Up </strong></a></li>
						<li><a href="#login"  id="testclick2"><span class="glyphicon glyphicon-log-in"></span> <strong>Login </strong></a></li>
					<% else %>
						<li><a href="/users/mypage"><span class="glyphicon glyphicon-user"></span> <strong>My Page</strong></a></li>
						<li><a href="/users/logout_complete"><span class="glyphicon glyphicon-log-out"></span> <strong>Log Out</strong></a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
<!--Vouluntal 네비게이션 바 end -->

<!-- Voluntal 캐러셀 start-->
	<div id="myCarousel" class="carousel slide" data-ride="carousel"
		data-interval="2500" data-pause="false">
		<!-- Indicators start -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<!-- Indicators end -->
		<!--Wrapper for slides start -->
		<div class="carousel-inner" role="listbox" align="center"
			id="section1">
			<div class="item active">
				<div class="firstslide">
					<div class="container">
						<div class="carousel-caption">
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="secondslide">
					<div class="container">
						<div class="carousel-caption">
							<div class="basicfont">
								사랑하는 사람과 함께할수 있는 일을 찾고 있나요?<br>
								Vouluntal은 당신에게 최고의 만족을 선사합니다.
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="thirdslide">
					<div class="container">
						<div class="carousel-caption">
						</div>
					</div>
				</div>
			</div>
		</div>
	<!--Wrapper for slides end-->

	<!--- 좌우 화살표 버튼 -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> 
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
			<span class="sr-only">Previous</span>
		</a> 
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> 
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	<!--- 좌우 화살표 버튼 end -->
	</div>
<!-- Voluntal 캐러셀 end-->

	<hr class="featurette-divider" id="section2"><br>
	<div class="container">
		<div class="middletoolbar container" align="center">
			<h2>Volunteer</h2>
			<h4>따뜻한 마음을 나누고 싶으신가요?</h4>
		</div>
	</div>
	<br><hr class="featurette-divider">
	
<!-- Volutal 글 보여주기 start-->
	<nav class="navbar navbar-wrapper container-fluid">
		<div class="container">
			<div class="container marketing">
				<div class="row">
				<!-- 포스트 반복하여 처리 -->
				<% @posts_vol.reverse.each do |post| %>
						<div class="col-md-4">
							<a href="/voluntal/show/<%= post.id %>">
								<div class="contentmiddlefont">
									<img src="<%= post.cover_pic_url(:main) %>" >
								</div> 
								<div class="row">
									<div class="col-md-4">
										<img class="img-circle"	src="<%= post.user.profile_pic_url(:thumb) %>" alt="Generic placeholder image" width="100" height="100">
									</div>
									<div class="col-md-8">
										<h3><%= post.title %></h3>
										<h5><%= post.start_time %><br><%= post.place %></h5>
									</div>
								</div>
							</a>
						</div>
					<% end %>
				<!-- 포스트 반복하여 처리 -->
				</div>
			</div>
		</div>
	</nav>
<!-- Volutal 글 보여주기 end-->

	<hr class="featurette-divider" id="section3">
	<br>
	<div class="container">
		<div class="middletoolbar container" align="center">
			<h2>Talent</h2>
			<h4>새로운 무언가를 가르치거나 배우고 싶으신가요?</h4>
		</div>
	</div>
	<br>
	<hr class="featurette-divider">

<!-- Talent 글 보여주기 start-->
	<nav class="navbar navbar-wrapper container-fluid">
		<div class="container">
			<div class="container marketing">
				<div class="row">
				<!-- 포스트 반복하여 처리 -->
					<% @posts_tal.reverse.each do |post| %>
						<div class="col-md-4">
							<a href="/voluntal/show/<%= post.id %>">
								<div class="contentmiddlefont">
									<img src="<%= post.cover_pic_url(:main) %>" >
								</div> <br>
								<div class="row">
									<div class="col-md-4">
										<img class="img-circle"	src="<%= post.user.profile_pic_url(:thumb) %>" alt="Generic placeholder image" width="100" height="100">
									</div>
									<div class="col-md-8">
										<h3><%= post.title %></h3>
										<h5><%= post.start_time %><br><%= post.place %></h5>
									</div>
								</div><br>
							</a>
						</div>
					<% end %>
				<!-- 포스트 반복하여 처리 -->
				</div>
			</div>
		</div>
	</nav>
<!-- Talent 글 보여주기 start-->

	<hr class="featurette-divider" id="section4">
	<br>
	<div class="container">
		<div class="CreateVoluntal" align="center">
			<%= image_tag('Voluntal-logo2.png')%>
			<h2>Voluntal 만들기</h2>
			<h3>Voluntal과 함께 시작하시겠습니까?</h3>
		</div>
	</div>
	<br>
	<hr class="featurette-divider">

<!-- Voluntal 만들기 start -->
	<div class="CreateVoluntal" align="center">
		<h3>당신의 재능을 다른사람들에게 공유하고 싶나요?</h3>
		<h3>봉사활동자를 모집하고 싶으신가요?</h3>
		<h3>Voluntal은 당신에게 조금더 쉽게 다가설수있도록 도와주고 있습니다</h3>
		<br>
		<div class="howbox">
			<p>어떤식으로 진행되나요?</p>
		</div>
		<br>
		<div class="voluntalflow" >
			<p>1. Voluntal 만들기를 클릭하여 Host 와 Voluntal 정보를 입력한다.</p>
			<p>2. Voluntal 운영자가 Voluntal을 개설한다.</p>
			<p>3. Guest들의 질문에 대답해주며 Activity 준비한다.</p>
			<p>4. Activity 활동 전날 Guest들의 명단을 받는다.</p>
			<p>5. Guest들과 함께 즐거운 Activity 활동을 진행한다.</p>
			<p>6. Guest들의 피드백을 받고 더 좋은 Voluntal을 개설한다.</p>
		</div>
		<%= image_tag('Activity.JPG')%><br> <br>
		<div class="howbox">
			<p>준비가 되셨나요?</p>
		</div>
		<br>
		<div align="center">
			<a href="/voluntal/register">
				<button class="btn btn-lg submit_button">Voluntal 만들기</button>
			</a>
		</div>
		<br>
	</div>
<!-- Voluntal 만들기 end -->

<!-- Voulutal 푸터 start -->
	<footer class="footer" style="background-color:#FFAB80">
		<div class="container">
			<br>
			<div class="col-md-9">
				<p class="text-muted">&copy; Voluntal and WB.YJ  All rights reserved.</p>
			</div>
			<div class="col-md-3">
				<p class="text-muted">Join Us on      
					<a href="http://facebook.com/woongbini">   WB's  <i class="icon-large icon-facebook"></i></a> / 
					<a href="https://goo.gl/BFzCQY">  YJ's  <i class="icon-large icon-facebook"></i> </a>
				</p>
			</div>
		</div>
	</footer>
<!-- Voulutal 푸터 end -->

	<!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="../../dist/js/bootstrap.min.js"></script>
	<script src="../../assets/js/vendor/holder.js"></script>
	-->
	
<!-- jquery스크롤 coding start -->
	<script>
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop : $(this.hash).offset().top
				}, 500);
			});
		});
	</script>
<!-- jquery스크롤 coding end -->
	
<!-- 로그인박스 넣기 start -->
	<script type="text/javascript">
		T$('testclick1').onclick = function() {
				$(document).ready(function() {
					TINY.box.show("/users/signup", 1, 400, 500, 0.5)
				});
		};
		T$('testclick2').onclick = function() {
				$(document).ready(function() {
					TINY.box.show("/users/login", 1, 300, 350, 0.5)
				});
		};
		function showbox() {
			TINY2.box.show('show_map.jsp', 1, 900, 600, 1);
		};
		
	</script>
<!-- 로그인박스 넣기 end -->	
</body>
</html>
